<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTDownloader</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>

    <div class="card">
        <h2>YTDownloader</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="url" value="{% if not download_Success %}{{ request.POST.url }}{% endif %}" placeholder="YouTube URL" required>
            <button type="submit" name="action" value="fetch">Fetch</button>
            <button type="button" class="clear" onclick="window.location.href = window.location.pathname;">Clear</button>

            {% if video_Info %}
                <div class="video-info">
                    <h3>{{ video_Info.title }}</h3>
                    <img src="{{ video_Info.thumbnail }}" alt="Video Thumbnail">
                </div>

            {% endif %}

            {% if video_Info %}
                <button type="submit" name="action" value="download" class="download">Download</button>  
            {% endif %}
        </form>
    </div>

    <div id="notification" class="notification">
        Download Success
    </div>

    <script>
        {% if download_Success %}
        window.onload = function () {
            showNotification();
        };
        {% endif %}
    </script>

</body>

</html>