<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViDownloader</title>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>

    <div class="card">
        <h2>Video Downloader</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="url" value="{% if not download_Success %}{{ request.POST.url }}{% endif %}" placeholder="URL.." required>
            <button type="submit" class="fetch" name="action" value="fetch">Fetch</button>
            <button type="button" class="clear" onclick="window.location.href = window.location.pathname;">Clear</button>

            {% if video_Info %}
                <div class="video-info">
                    <h3>{{ video_Info.title }}</h3>
                    <img src="{{ video_Info.thumbnail }}" alt="Video Thumbnail">
                </div>

            {% endif %}

            {% if formats %}
                <div class="format-table-wrapper">
                    <table class="format-info">
                        <thead>
                            <tr>
                                <th>Extension</th>
                                <th>Resolution</th>
                                <th>FPS</th>
                                <th>Size</th>
                                <th>Video Codec</th>
                                <th>Audio Codec</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in formats %}
                            <tr>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="url" value="{{ request.POST.url }}">
                                    <input type="hidden" name="format_id" value="{{ f.format_id }}">

                                    <td>{{ f.ext }}</td>
                                    <td>{{ f.resolution|default:"-" }}</td>
                                    <td>{{ f.fps|default:"-" }}</td>
                                    <td>{% if f.filesize %}{{ f.filesize|filesizeformat }}{% else %}Unknown{% endif %}</td>
                                    <td>{{ f.video_codec }}</td>
                                    <td>{{ f.audio_codec }}</td>
                                    <td>
                                        {% comment %} <button type="submit" name="action" value="download" class="download-btn">
                                            Download
                                        </button> {% endcomment %}
                                        <button type="submit" name="action" value="download" class="download-icon-btn">
                                            <i class="uil uil-arrow-circle-down"></i>
                                        </button>
                                    </td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </form>
    </div>

    <div id="notification" class="notification">
        Download Success
    </div>

    <script>
        {% if download_Success %}
        window.onload = function () {
            showNotification();
        };
        {% endif %}
    </script>

</body>

</html>