* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
    font-family: 'Arial', sans-serif;
}

.card {
    width: 90%;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border: 2px solid #FF0000;
}

button {
    padding: 8px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #973939;
}

button.clear {
    margin-left: 5px;
    background-color: #000000; 
    color: white;
    border: none;
}

.clear:hover {
    background-color: #4e4d4d;

}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    display: none;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card .video-info {
    margin-top: 20px;
    text-align: center;
}

.card .video-info h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.card .video-info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card .download{
    margin-top: 10px;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
        padding: 25px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"] {
        font-size: 14px;
    }

    button {
        font-size: 10x;
    }
}